@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
body {
  background-color: #121829;
  font-weight: 400;
  font-family: Poppins, sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 5%;
}
